<!-- Reservation #1
============================================= -->
<section id="reservation1" class="reservation reservation-1 bg-overlay bg-parallax bg-overlay-dark pb-70">
    <div class="bg-section">
        <img src="assets/images/background/7.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div class="reservation-form mb-30 text-center">
                    <div class="reservation-bordered">
                        <div class="heading heading-1 text-center">
                            <p class="heading--subtitle">Reservation</p>
                            <h2 class="heading--title">Book Your Table</h2>
                            <div class="divider--shape-4"></div>
                        </div>
                        <div class="reservation--dec">
                            You can Book a table online easily in just a couple of minutes. We take reservations for lunch and dinner, just check the availability of your table & book it now!
                        </div>
                        <form method="post" action="assets/php/reservation.php" class="reservationForm mb-0">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="form-select">
                                        <i class="fa fa-angle-down"></i>
                                        <select class="form-control" name="people" id="num">
										<option value="">Number of people</option>
<option value="2">2 People</option>
										<option value="3">3 People</option>
										<option value="4">4 People</option>
										<option value="5">5 People</option>
										<option value="6">6 People</option>
										<option value="8">8 People</option>
										<option value="10">10 People</option>
									</select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="form-select">
                                        <i class="fa fa-angle-down"></i>
                                        <select class="form-control" name="day" id="day">
										<option value="">Date</option>
<option value="november 23">November 23, 2018</option>
										<option value="november 24">November 24, 2018</option>
										<option value="november 25">November 25, 2018</option>
										<option value="november 26">November 26, 2018</option>
										<option value="november 27">November 27, 2018</option>
									</select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="form-select">
                                        <i class="fa fa-angle-down"></i>
                                        <select class="form-control" name="time" id="time">
										<option value="">Time</option>
<option value="8:00">8:00 PM</option>
										<option value="9:00">9:00 PM</option>
										<option value="10:00">10:00 PM</option>
										<option value="11:00">11:00 PM</option>
										<option value="12:00">12:00 AM</option>
									</select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <button type="submit" id="submit-reservation" class="btn btn--secondary btn--block">Find Table</button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <!--Alert Message-->
                                    <div class="reservation-result"></div>
                                </div>
                            </div>
                            <!-- .row end -->
                        </form>
                        <!-- form end -->
                    </div>
                </div>
                <!-- .contact-form end -->
            </div>
            <!-- .col-md-8 end -->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="text-uppercase text-center">
                    <strong><span class="text-white">Reservation Powered by</span> <a href="#">Opentable</a></strong>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #reservation1 end -->
